/* globals.css */
@import "tailwindcss/tailwind.css";
@import url("https://fonts.googleapis.com/css2?family=Nico+Moji:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Nico Moji", sans-serif;
}

@layer utilities {
  .text-balance {
  }
}



/* Custom scrollbar styles for horizontal scrolling */
.velocity-custom-scrollbar {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px; 

}
.velocity-custom-scrollbar::-webkit-scrollbar {
  height: 4px; 

}
.velocity-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #44E19F;
  border-radius: 6px; 
}

.velocity-custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; 
  border: 1px solid #44E19F;
  border-radius: 6px; 
}