/* globals.css */
@import "tailwindcss/tailwind.css";
@import url("https://fonts.googleapis.com/css2?family=Nico+Moji:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nico Moji", sans-serif;
}

.velocity-custom-popover {
  box-shadow: 0px 4px 20px #2f2e2e;
  border: 1px solid #2f2e2e;
  border-radius: 8px;
}

/* Custom scrollbar styles for horizontal scrolling */
.velocity-custom-scrollbar {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}
.velocity-custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}
.velocity-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #44e19f;
  border-radius: 6px;
}

.velocity-custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid #44e19f;
  border-radius: 6px;
}

:root {
  --avatar-progress-size: clamp(30px, calc(5vw + 1rem), 280px);
  --svg-small-size: clamp(15px, calc(0.8vw + 0.5rem), 80px);
  --big-icon-size: clamp(35px, calc(2vw + 0.5rem), 80px);
}

svg {
  --size: var(--svg-small-size);
  height: var(--size);
  width: var(--size);
}

.AvatarWithProgress svg {
  --size: var(--avatar-progress-size);
}

.big-icon {
  --size: var(--big-icon-size);
}

.x-big-icon {
    width: calc(var(--size) * 4);
    height: calc(var(--size) * 1.5);
}


